#main_screed {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	padding: 1rem;
}
#main_screed > div {
	border: 1px solid black;
	/* this is added code on height */
	height: 300px;
}
#main_screed > div > div {
	border: 1px solid black;
}
body {
	display: flex;
	align-items: center;
	justify-items: center;
}
