<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/index.css">
		<meta charset="UTF-8">
		<meta name="keywords" content="['from all contents of all div elements']">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<header>
			Hello!, welcome. lovely person
		</header>
		<div id="searchbox_holder">
		<input type="search" id="search_box" placeholder="search item">
		</div>
		<main id="main_screed">
			<div>
				click image to visit shop
				<div> image </div>
				<div> desc </div>
			</div>

			<div>
				click image to visit shop
				<div> image </div>
				<div> desc </div>
			</div>

			<div>
				<div> image </div>
				<div> desc </div>
			</div>
			<div>Four</div>
			<div>five</div>
			<div>six</div>
			<div>seven</div>
			<div>eight</div>
			<div>nine</div>
			<div>ten</div>
			<div>eleven</div>
			<div>Twelve</div>
			<div>
				<div>
					image location
				</div>
				<button>
					visit shop
				</button>
				<div>
					image description
				</div>
			</div>
		</main>
		<footer>
			coded by the software engineer, alumni of alx
		</footer>
	</body>
</html>
